
img {
    height: 200px;
    border-radius: 20px;
}

.resultImg {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.search{
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

#border{
    text-align: center;
    margin: 120px;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#border2{
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.recent{
    display: flex;
    gap: 30px;
    position: absolute;
    top: 610px;
    left: 400px;
}

#recenth1{
    display: flex;
    gap: 30px;
    position: absolute;
    top: 600px;
    left: 10px;
}

.btn btn-primary{
    margin: 0;
}


@keyframes colorswitch{
    0% {color: #4285F4;}
    25% {color: #DB4437;}
    50% {color:#F4B400;}
    75% {color:burlywood;}
    100% {color: #0F9D58;}
}
